<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bigoven - Dietas (showcase)</title>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css">
        <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            select {
                height: 100px;
                resize: vertical;
                overflow: auto;
            }
            .loadinggif {
                display: block;
                margin: 10px auto;
                width: 48;
            }
        </style>
    </head>
    <body>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/bigoven" class="navbar-brand">Bigoven</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dietas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/bigoven/diets">Admin</a>
                        <a class="dropdown-item" href="/bigoven/diets/view">Showcase</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://documenter.getpostman.com/view/7780376/SVfMSA3J" target="_blank">API</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="?about=1">Ayuda</a></li>
            </ul>
        </div>
    </nav>

    <!-- about box -->
    <div id="aboutbox" class="alert alert-dismissible alert-primary m-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Explore las recetas de cada dieta o union de dietas. Para crear más dietas vaya a la sección <i><a href="/bigoven/diets">Admin</a></i>.
    </div>

    <!-- content -->
    <div class="row m-1">
        <!-- left panel -->
        <div class="col-sm-12 col-md-3 col-lg-2 p-1">
            <!-- diets -->
            <div class="card border-info mb-2">
                <div class="card-header">Elija dieta(s)</div>
                <input id="filterleft" class="form-control-sm tagfilter" type="text" placeholder="Filtrar..">
                <select id="tags" multiple=""></select>
                <p class="m-1 text-center"><small>(<i>Ctrl + clic</i> para seleccionar más)</small></p>
            </div>
            <!-- summary -->
            <p id="summary" class="font-weight-bold"></p>
            <!-- primary ingredient -->
            <div class="card border-info mb-2 piswitch">
                <div class="card-header">Ingrediente principal</div>
                <div class="m-1">

                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_asparagus" checked=""><label class="custom-control-label" for="pi_asparagus">asparagus</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_banana" checked=""><label class="custom-control-label" for="pi_banana">banana</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_beans" checked=""><label class="custom-control-label" for="pi_beans">beans</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_beef" checked=""><label class="custom-control-label" for="pi_beef">beef</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_blueberry" checked=""><label class="custom-control-label" for="pi_blueberry">blueberry</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_bread" checked=""><label class="custom-control-label" for="pi_bread">bread</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_cake" checked=""><label class="custom-control-label" for="pi_cake">cake</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_carrots" checked=""><label class="custom-control-label" for="pi_carrots">carrots</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_cauliflower" checked=""><label class="custom-control-label" for="pi_cauliflower">cauliflower</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_chicken" checked=""><label class="custom-control-label" for="pi_chicken">chicken</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_chocolate" checked=""><label class="custom-control-label" for="pi_chocolate">chocolate</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_corn" checked=""><label class="custom-control-label" for="pi_corn">corn</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_cream" checked=""><label class="custom-control-label" for="pi_cream">cream</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_eggs" checked=""><label class="custom-control-label" for="pi_eggs">eggs</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_fish" checked=""><label class="custom-control-label" for="pi_fish">fish</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_flour" checked=""><label class="custom-control-label" for="pi_flour">flour</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_fruit" checked=""><label class="custom-control-label" for="pi_fruit">fruit</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_icing" checked=""><label class="custom-control-label" for="pi_icing">icing</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_lamb" checked=""><label class="custom-control-label" for="pi_lamb">lamb</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_meat" checked=""><label class="custom-control-label" for="pi_meat">meat</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_mushrooms" checked=""><label class="custom-control-label" for="pi_mushrooms">mushrooms</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_oats" checked=""><label class="custom-control-label" for="pi_oats">oats</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_pasta" checked=""><label class="custom-control-label" for="pi_pasta">pasta</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_peaches" checked=""><label class="custom-control-label" for="pi_peaches">peaches</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_peanut butter" checked=""><label class="custom-control-label" for="pi_peanut butter">peanut butter</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_pork" checked=""><label class="custom-control-label" for="pi_pork">pork</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_potato" checked=""><label class="custom-control-label" for="pi_potato">potato</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_pumpkin" checked=""><label class="custom-control-label" for="pi_pumpkin">pumpkin</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_rice" checked=""><label class="custom-control-label" for="pi_rice">rice</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_salmon" checked=""><label class="custom-control-label" for="pi_salmon">salmon</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_seafood" checked=""><label class="custom-control-label" for="pi_seafood">seafood</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_shrimp" checked=""><label class="custom-control-label" for="pi_shrimp">shrimp</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_spinach" checked=""><label class="custom-control-label" for="pi_spinach">spinach</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_strawberries" checked=""><label class="custom-control-label" for="pi_strawberries">strawberries</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_sugar" checked=""><label class="custom-control-label" for="pi_sugar">sugar</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_sweet potato" checked=""><label class="custom-control-label" for="pi_sweet potato">sweet potato</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_tomatoes" checked=""><label class="custom-control-label" for="pi_tomatoes">tomatoes</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_turkey" checked=""><label class="custom-control-label" for="pi_turkey">turkey</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_vegetables" checked=""><label class="custom-control-label" for="pi_vegetables">vegetables</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_zucchini" checked=""><label class="custom-control-label" for="pi_zucchini">zucchini</label></div>
                        <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="pi_(undefined)" checked=""><label class="custom-control-label" for="pi_(undefined)">(undefined)</label></div>

                </div>
            </div>
        </div>
        <!-- right panel -->
        <div class="col-sm-12 col-md-9 col-lg-10 p-1">
            <div class="list-group">
                <div id="resultshead" class="list-group-item list-group-item-action active">Recetas</div>
            </div>
            <img id="resultsgif" class="loadinggif" src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" loop="infinite" />
            <div id="results" class="row m-0"><p class="m-1">Sin resultados</p></div>
        </div>
    </div>
    <script type="text/javascript" src="ajax.js"></script>
    </body>
</html>